@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #ededed;
  background: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
}
.clip-bottom-curve {
  mask-image: linear-gradient(
    rgb(255, 255, 255) 76.85%,
    rgba(255, 255, 255, 0.2) 100%
  );
  -webkit-mask-image: radial-gradient(
    103% 12% at 50% 102%,
    transparent 50%,
    white 51%
  );
}
